@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard-gov.min.css");

/* ================================
    [전체 반응형 가이드]
    1. 모바일 대응 최소값 (320px) = .wrapper의 min-width 제한
    2. 데스크탑 콘텐츠 폭 최대값 (1200px) = .inner의 max-width 제한  
================================ */

/* Reset style */ /* 기본값 초기화 - 여기서만 태그 선택자 허용 */
* { box-sizing: border-box; word-break: keep-all;}
body, h1, h2, h3, h4, p, ul, ol, li, button, a, dl, dd, fieldset { margin: 0; padding: 0; }
h1, h2, h3, h4 { font-size: inherit; }
ul, ol, li { list-style: none; }
a { text-decoration: none; color: inherit; }
button { border: 0; background: transparent; cursor: pointer; }
img { vertical-align: top; max-width: 100%; }
input, button, select, textarea {
    margin: 0;
    padding: 0;
    border: 0 none;
    background: none;
    font-family: inherit; /* 필수: 부모 폰트 상속 */
}
button, select, textarea {appearance: none; /* 필수: 기기별 기본 스타일 제거 */}

input:focus, button:focus {
    outline: none;
}

#aside { position: absolute; width: 1px; height: 1px; overflow: hidden; clip: rect(0, 0, 0, 0); }

/* common.css 에 추가해주세요 */
/* reset */
table { 
    border-collapse: collapse;
    border-spacing: 0;
    border: 0 none;
    width: 100%;
}

th, td {
    border: 0 none;
    text-align: left;
    vertical-align: top;
    font-weight: normal;
}


/* 2. Base (기본 레이아웃 및 폰트) */
body { 
    font-size: 16px; color: #333; line-height: 1.6;
    font-family: "Pretendard GOV Variable", "Pretendard GOV", -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
    
}
h1 {
    font-size: 32px;
    font-weight: 700;
    line-height: 1.2;
    color: #111;
    margin-bottom: 48px;
}
h2 {
    font-size: 25px;
    font-weight: 700;
    line-height: 1.4;
    color: #111;
}
h3 {
    font-size: 20px;
    font-weight: 700;
    line-height: 1.4;
    color: #111;
}


.txt-link { color:#1D56BC; line-height: 1.4; font-size: 15px; }
.txt-link:hover { color:#1D56BC; text-decoration: underline; }
a { color:#1d1d1d; }
a:hover { color:#1d1d1d; }

input {
    width: 100%;
    padding: 10px 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    color: #333;
}

/* 아이콘/이미지 사이즈 */
img {width: 100%; height: 100%; object-fit: cover; align-items: center;}
.icon-f {width: 20px; height: 20px;}


/* 메인버튼 / 서브버튼 / 온 오프 버튼 따로 넣어야 할 듯 */
button { 
    border-radius: 4px;
    cursor: pointer;
}

/* 폰트 */
.txt-caption {
    font-size: 14px;
    font-weight: 400;
    line-height: 1.6;
    color: #333;
}

/* 3. 레이아웃 클래스 (공통 사용) */
/* #main { padding: 0 15px; } */
.wrapper { width: 100%; min-width: 320px; }
.container { width: 100%; }
.inner { width: 100%; min-width: 360px; max-width: 1200px; margin: 0 auto; padding: 0 15px; background-color: #fff; }

/* 4. 공통 UI 컴포넌트 */
.img-box { overflow: hidden; }
.img-box img { width: 100%; display: block; }

/* 5. 접근성 클래스 */
.blind { position: absolute; width: 1px; height: 1px; overflow: hidden; clip: rect(0, 0, 0, 0); }

/* ★★★★★ 팀별로 정해진 공통 클래스 규칙 나열 */
.tit-main { color: #111; } /* 본문의 대제목 - size */
.tit-sec { color: #111; } /* 본문의 중제목 - size */ 
.tit-sub { color: #111; } /* 본문의 소제목 - size */

.wrapper { 
    width: 100%;
    min-width: 320px;
}


/* 메인 탭 */
.main-tab {}

/* 서브 탭 - 다슬 */
.sub-tab {
    position: relative;
    padding: 0 50px;  
    margin-bottom: 32px;
}

.sub-tab ul { /* 태그명씀 */
    display: flex;
    overflow: hidden;
}

.sub-tab ul li {
    position: relative;
    flex-shrink: 0;
    width: 100%;
    padding: 10px 0;
    text-align: center;
    border-bottom: 5px solid #E4E7EB;
}

.sub-tab ul li a { font-weight: 700; color:#666;}

.sub-tab ul li:hover::after {
  transform: scaleX(1); /* 호버 시 나타남 */
}

.sub-tab .on { border-bottom: 5px solid #003675; }
.sub-tab .on a {color: #003675;}

.sub-tab .prev {position: absolute; left: 0; top: 10px }
.sub-tab .next {position: absolute; right: 0; top: 10px;}

@media (min-width:360px){
    .sub-tab ul .list { width: 50% }
}

@media (min-width:650px){
    .sub-tab ul .list { width: 33.33% }
}

@media (min-width:1280px){
    .sub-tab ul .list { width: 25% }
    .sub-tab .prev, .sub-tab .next { display: none; }
}

/* 꿀팁 (각 페이지 상단 정보) - 지혜 */
/* 왼쪽 배경이미지로 아이콘 - 모바일 버전 생각해보기 뒤에.. */
.cont-info {
    padding: 140px 36px 40px 40px;
    background-color: #F0F0F0;
    margin-bottom: 64px;
    border-radius: 10px;
}

.cont-info dt {
    font-size: 19px;
    font-weight: 700;
    margin-bottom: 12px;
}

.cont-info dd {
    font-size: 17px;
    color: #555;
}

/* 서브페이지 맨 위 네비 - 윤진 */
.sub-nav {
    display: flex;
    gap: 10px;
    font-size: 15px;
    margin-bottom: 10px;
}
.sub-nav a {
    text-decoration: underline; /*글자 아래 밑줄*/
    text-underline-offset: 5px; /* 글자와 밑줄 사이의 간격 */
    color: #1D1D1D;
}
a:hover{
    text-decoration: none;
}
.sub-nav li:last-child {
    font-weight: bold;
}

/* 버튼 - 윤진 */
    /* 강조색버튼 */
    .stress-btn { 
        padding: 10px 20px;
        border-radius: 4px;
        font-size: 16px;
        border-radius: 8px;
        background-color: #003675;
        color: #fff;
    }

    /* 메인버튼 */
    .main-btn {
        width: 124px;
        height: 40px;
        padding: 8px 16px;
        border-radius: 8px;
        background-color: #246BE0;
        color: #fff;
    }
    .main-btn:hover {
        text-decoration: underline;
        color: #fff;
    }
    .main-btn a { color: #fff; }
    /* 서브버튼 */
    .sub-btn {
        width: 100px;
        height: 40px;
        padding: 0px 8px;
        border-radius: 8px;
        background-color: #EFF5FF;
        color: #246BE0;
        border: 1px solid #246BE0;
    }

    .sub-btn:hover {
        text-decoration: underline;
        color: #246BE0;
    }
/* -- */

/* 페이지 번호 - 다슬 */
    .page-num-box {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 40px;
    }
    .page-num-box button {
        width: 40px; 
        height: 40px;
        border-radius: 6px;
        padding: 0;
        color: #333;
        background-color: transparent;
    }

    /* 페이지 번호 온오프 */
    .page-num-box .num.on {
        background-color: #E1EBFF;
    }
/* -- */

/* 폼영역 - 지수 */
.sub-search-area {
    padding: 32px 24px;
    margin: 0 0 40px;
    border-radius: 15px;
    border: 1px solid #D9D9D9;
    background-color: #f8f8f8;
    font-size: 16px;
}

.sub-search-area dt {
    margin-bottom: 4px;
    font-size: 15px;
    font-weight: 700;
}

.sub-search-area .select ul {
    display: none;
    position: absolute; top: 0px; left: 0px;
    width: 100%;
    padding: 4px 32px 4px 12px;
    border: 1px solid #D9D9D9;
    border-radius: 8px;
    z-index: 1;
    background-color: white;
}

.sub-search-area .select {
    position: relative;
    height: 36px;
    border-radius: 8px;
    border: 1px solid #D9D9D9;
    background-color: white;
    padding: 4px 32px 4px 12px;
    margin-bottom: 4px;
}

.sub-search-area input {
    height: 36px;
    border-radius: 8px;
    border: 1px solid #D9D9D9;
    background-color: white;
    font-size: 15px;
}

.sub-search-area .btn {
    display: flex;
    justify-content: center;
    gap: 8px;
    margin-top: 15px;
}

.sub-search-area .submit {
    width: 100px;
    padding: 8px 12px;
    border-radius: 8px;
    background-color: #5C5C5C;
    color: #fff;
}
.sub-search-area .reset {
    width: 100px;
    padding: 8px 12px;
    border-radius: 8px;
    border: 1px solid #D5DAE1;
    background-color: #fff;
    color: #1d1d1d;
}

/* 앨범 목록 - 지혜 */
.album-list {
    /* 그리드 갭 넣으셈 */
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 15px;
}
.album-list .item {
    /* 이벤트 빼고 생각하셈 */
    padding: 20px;
    border: 1px solid #d9d9d9;
    border-radius: 10px;
}

/* 모바일~테블릿 */
@media screen and (max-width: 650px){
    .blind-m { position: absolute; width: 1px; height: 1px; overflow: hidden; clip: rect(0, 0, 0, 0); }
}

/* 테블릿~데스크탑 */
@media screen and (min-width: 650px){
    /* 꿀팁 정보 영역 */
    .cont-info {
        padding: 40px 36px 40px 140px;
    }

    .album-list {
        grid-template-columns: repeat(2, 1fr);
    }

    .sub-search-area .keyword {
        padding: 0 60px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .sub-search-area .keyword dl dt { margin: 0; }
    .sub-search-area .keyword dl {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .sub-search-area .keyword input { margin: auto; }

    .sub-search-area .keyword .select {
        width: 116px;
        margin: 0 8px;
    }

}
/* 데스크탑 */
@media screen and (min-width: 1280px){ /* 데스크탑 min-width가 다를 수 있음 */
    body { 
        font-size: 18px;
    }

    .inner { padding: 0; }

    /* 사이드/메인 레이아웃 */
    .container {
        display: flex;
    }

    /* 크기만 #aside가 잡고(inner와 같은 역할) 디자인은 안에 박스에서 */
    #aside {
        width: 292px;
        position: static;
        overflow: visible;
    }

    .aside-wrap {
        background-color: #fff;
        border-radius: 10px;
        /* border: 1px solid black; */
        box-shadow: 0 4px 15px 0 rgba(0, 0, 0, 0.1);
    }

    #main {
        padding-left: 40px;
        flex: 1;
    }

    #aside h1 {
        padding: 65px 0;
        text-align: center;
        background-image: linear-gradient(to left, #FEE4FF, #E1EBFF);
        border-radius: 10px 10px 0 0 ;
        color: #333;
        margin: 0;
    }

    #aside ul {
        padding: 24px;
        font-weight: 700;
    }

    #aside ul li {
        padding: 18px 8px;
        font-size: 17px;
        /* background-color: beige; */
        border-bottom: 1px solid #D0D5DD;
    }

    #aside ul .on {
        border-bottom: 3px solid #003675;
    }

    #aside ul .on a {
        color: #003675; /* 비활성화/활성화 상단에서 수정? */
    }

    #aside li:hover {
        background-color: #E1EBFF;
    }

    .album-list {
        grid-template-columns: repeat(3, 1fr);
    }
}